body {
    margin: 0;
}

nav {
}

.navigator {
    border-bottom : 1px solid #dbdbdb;
    height: 25px;
    padding : 26px 20px;
    margin : 0px;
    
}

.logo {
    width : 24px;
    height : 24px;
}

.stick {
    width : 1px;
    height : 28px;
    border : 0.3px solid #262626; 
    margin : auto 16px;
    background-color: #262626;
    display : inline-block;
    vertical-align: middle
}

.letterLogo {
    width : 103px;
    height : 29px;
}